<section class="relative isolate overflow-hidden bg-slate-900 py-24 sm:py-32" id="support">
  <!-- Decorative background element -->
  <div
    class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]"
    aria-hidden="true"
  >
    <div
      class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20"
      style="
        clip-path: polygon(
          73.6% 51.7%,
          91.7% 11.8%,
          100% 46.4%,
          97.4% 82.2%,
          92.5% 84.9%,
          75.7% 64%,
          55.3% 47.5%,
          46.5% 49.4%,
          45% 62.9%,
          50.3% 87.2%,
          21.3% 64.1%,
          0.1% 100%,
          5.4% 51.1%,
          21.4% 63.9%,
          58.9% 0.2%,
          73.6% 51.7%
        );
      "
    ></div>
  </div>

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
      <div class="max-w-xl lg:max-w-lg">
        <app-section-header
          [icon]="LifeBuoy"
          align="left"
          theme="dark"
          badge="Support"
          title="Need help?"
          description="If something doesn’t work as expected, use the support form and include the template name plus a short description of the issue."
        ></app-section-header>
        <div class="mt-8 flex items-center gap-x-6">
          <button
            (click)="toggleModal(true)"
            type="button"
            class="inline-flex items-center gap-x-2 rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 transition-all cursor-pointer"
          >
            <lucide-angular [img]="LifeBuoy" class="-ml-0.5 h-5 w-5"></lucide-angular>
            Open support form
          </button>
        </div>
      </div>
      <div class="relative lg:col-start-2 lg:row-span-2">
        <img
          src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&auto=format&fit=crop&w=2850&q=80"
          alt="Support team"
          class="aspect-[16/9] w-full max-w-lg rounded-2xl bg-white/5 object-cover shadow-2xl ring-1 ring-white/10 lg:aspect-[4/3] lg:max-w-none grayscale-[25%] hover:grayscale-0 transition-all duration-500"
        />
      </div>
    </div>
  </div>

  @if (isModalOpen()) {
  <app-support-modal (close)="toggleModal(false)" />
  }
</section>
